<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    {% include 'header.html' %}
    
    {% if 'user_id' in session %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <h1>Welcome, {{ user.name }}!</h1>

    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <h1>Please log in or create an account.</h1>
    {% endif %}
    
    <!-- Flash messages section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <p>Upload files!</p>
    
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="text" name="name" placeholder="Enter name" required>
        <button type="submit">Upload</button>
    </form>

    <p>Search Files!</p>
    
    <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search by name" required>
        <button type="submit">Search</button>
    </form>


</body>
</html>
